/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-image-background  {
  background-color: #ec554f;
  position: relative;

  .absolute-bg {
	height: 240px;
	position: absolute;
	width: 100%;
	opacity: .5;
	z-index: 0;
	background-repeat: no-repeat;
	background-position: 90% 100%;
  }

  //&::after {
	//content: '';
	//opacity: .5;
  //}
}
