/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-cgb-block-six-pack *  {
	box-sizing: border-box;
}

.btn-container {
  display: flex;
  align-items: center;
}
