/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.faq-all {
  .wp-block-cgb-block-action-link  {
	.action-btn-label {
	  color: #1C1C1C;
	  font-size: 18px;
	  font-weight: 600;
	  transition: color .3s ease-in-out;
	  cursor: pointer;

	  &:hover,
	  &:focus {
		text-decoration: underline;
	  }
	}
  }
}
