/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-cgb-block-top-banner  {
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  min-height: auto;

  .col {
	flex-grow: 1;
  }

  img {
	max-width: 150px;
  }
}

.btn {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 24px;
  background-color: #f33;
  max-width: 50%;
  padding: 8px 16px;
  text-align: center;
}

.components-panel__row .components-base-control.components-toggle-control .components-base-control__field {
  margin-bottom: 20px;
}
