/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

$breakpoints: (
		"xs-phone": 480px,
		"phone": 767px,
		"tablet": 1024px,
		"desktop": 1200px,
		"widescreen": 1800px
);

// keywords
$media-expressions: (
		"screen": "screen",
		"print": "print",
		"handheld": "handheld",
		"landscape": "(orientation: landscape)",
		"portrait": "(orientation: portrait)",
		"retina2x": "(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)",
		"retina3x": "(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)"
);

// ligatured operators ≥ ≤

// Colors
$black: #000;
$dark-black: #111;
$dark: #1C1C1C;
$dark-gray: #5A5A5A;
$medium-gray: #B8B8B8;
$blue: #61CCD3;
$red: #FF3333;
$redAlt: #EC554F;

$white: #fff !default;
$skyblue: #00a0de;

$light-gray: #c6c6c6;
$light-gray-2: #a09ea5;
$orange: #ff7200;
$burgundy: #bd4141;

// Fonts
$base-font-sans-serif: 'Poppins', sans-serif;

/*$base-font-sans-serif: "Open Sans", "Raleway", "Helvetica Neue", "Helvetica", sans-serif;*/
$second-font-sans-serif: 'Poppins', sans-serif;

// Body
$base-background-color: $white !default;
$font-size-base: 14px !default;
$font-weight-base: 400 !default;
$base-line-height: 1.7 !default;
$base-min-width: 320px !default;
$base-color: $dark-gray !default;
$base-font-family: $base-font-sans-serif;

// Container
$base-max-width: 1048px !default;
$base-padding: 0 15px !default;

// form
$base-input-bg-color: transparent;
$base-form-color: $dark;
$base-form-font-family: $base-font-sans-serif;
$base-form-border-radius: 0;
$form-element-padding: 0 15px 16px 0 !default;
$form-element-border-color: $medium-gray !default;
$form-element-focus-border-color: $dark !default;
$form-element-font-size: 18px !default;
$form-element-line-height: 1.4 !default;
$form-element-font-weight: 400 !default;
$placeholder-color: $dark-gray !default;
$placeholder-hover-color: $dark-gray;
$placeholder-focus-color: $dark-gray;

// Links
$base-link-color: $dark !default;
$base-link-font-weight: 500 !default;
$base-link-hover-color: $red !default;

// Buttons
$btn-color: $red !default;
$btn-border-radius: 40px !default;
$btn-padding: 7px 48px !default;
$btn-font-size: 18px !default;
$btn-font-weight: 500 !default;
$btn-line-height: 1.4 !default;
$btn-background-color: transparent;
$btn-min-width: 142px;
$btn-border: 2px solid $red;

// default border-color
$btn-blue-border: 2px solid $blue;
$btn-red-border: 2px solid $red;
// primary Buttons
$btn-blue-background-color: $blue;
$btn-red-background-color: $red;

// lg Buttons
$btn-lg-border-radius: 40px;
$btn-lg-padding: 12px 56px;

// sm Buttons
$btn-sm-padding: 8px 32px;
$btn-sm-font-size: 14px;
$btn-sm-lh: 20px;

// Headers
$h1-font-size: 64px !default;
$h2-font-size: 36px !default;
$h3-font-size: 28px !default;
$h4-font-size: 18px !default;
$h5-font-size: 18px !default;
$h6-font-size: 14px !default;
$p-font-size: 20px !default;
$headings-line-height: 1.3;
$headings-font-family: $second-font-sans-serif;

// blockquote
$blockquote-color: $white;
$blockquote-font-size: 16px;
$blockquote-font-family: $second-font-sans-serif;
$blockquote-font-weight: 400;
$blockquote-opacity: .85;
$blockquote-margin:  0 0 43px;
$blockquote-line-height: 1.7;
$blockquote-padding: 62px 0 0;


.has-brand-color {
  color: #f33;
}

.has-dark-color {
  color: #111;
}

.has-brand-lightened-color {
  color: #ec554f;
}

.has-white-color {
  color: #fff;
}

.has-light-color {
  color: #fafafa;
}

.has-dark-background-color {
  background-color: #111;
}
.has-light-background-color {
  background-color: #fafafa;
}
