/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-cgb-block-cta-row  {
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
  color: #fff;

  .btn {
    color: #fff;
    border: 2px solid #fff;
	border-radius: 24px;
    background-color: transparent;
	max-width: 50%;
	padding: 8px 16px;
	text-align: center;
  }
}
