/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-cta-row  {
  //background: $red;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  //height: 100%;
  display: flex;
  align-items: center;
  height: 240px;

  .container {
	position: relative;
	z-index: 1;
  }

  .btn {
	&:hover, &:focus {
	  color: #fff !important;
	}
  }
}
