/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-cgb-block-top-banner  {
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  min-height: auto;

  .col {
	flex-grow: 1;
  }

  img {
	max-width: 150px;
  }
}

.btn {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 24px;
  background-color: #f33;
  max-width: 50%;
  padding: 8px 16px;
  text-align: center;
}


.selling-section{
  background: $dark-black;
  padding: 48px 0;
  @media all and (min-width: 1025px){
	padding: 96px 0;
  }
  .container{
	@media all and (min-width: 768px){
	  display: flex;
	  align-items: center;
	  padding: 0 4px;
	  >div{
		width: 50%;
		padding: 0 16px;
	  }
	}
  }
  &-image{
	text-align: center;
	img{
	  margin-bottom: 20px;
	  max-height: 250px;
	}
	@media all and (min-width: 768px) {
	  img {
		margin-bottom: 0;
		max-height: none;
	  }
	}
	@media all and (min-width: 1025px) {
	  display: flex;
	  justify-content: flex-end;
	}

	@media all and (min-width: 1350px){
	  img {
		max-width: none;
	  }
	  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		img {
		  width: 100%;
		}
	  }
	}
  }
  &-info{
	color: #fff;
	&-title{
	  color: #fff;
	  @media all and (min-width: 1025px){
		line-height: 56px;
	  }
	  @media all and (max-width: 1024px){
		font-size: 26px;
	  }
	}
	p:not(:last-child){
	  @media all and (min-width: 1025px){
		margin-bottom: 40px;
	  }
	}
	.less,
	.more{
	  color: $white;
	  margin-top: 10px;
	  display: inline-block;
	}
	&-description{
	  @media all and (min-width: 768px) and (max-width: 1025px){
		max-height: 210px;
		overflow: hidden;
	  }
	}
  }
  .btn{
	background: transparent;
	&:active,
	&:focus,
	&:hover{
	  background: transparent;
	}
  }
  &.image-position-right{
	@media all and (min-width: 768px){
	  .selling-section-info{
		order: 1;
	  }
	  .selling-section-image{
		order: 2;
		justify-content: flex-start;
	  }
	}
  }
  &.red{
	background: $red;
	.btn{
	  background: $white;
	  color: $red;
	  border-color: $white;
	  &:active,
	  &:focus,
	  &:hover{
		background: $red;
		color: $white;
		border-color: $white;
	  }
	}
  }
  &.w-p-b{
	@media all and (min-width: 1350px) {
	  padding-bottom: 0;
	}
  }
  &.align-bottom{
	.container{
	  align-items: flex-end;
	}
  }
}
.top-bg + .selling-section{
  .selling-section-info{
	color: #fafafa;
	.selling-section-info-title{
	  color: #fafafa;
	}
  }
}
